.TopNav.navbar.navbar-expand-lg{
    display: flex;
    position: absolute;
    position: -webkit-sticky; 
    position: sticky;
    align-items: center;
    top: 0;
    justify-content:space-between;
    background: linear-gradient(to right, #6dd5ed, #2193b0, #6dd5ed);
    width: 100%;
    overflow: auto;
  }
