.Counter_box3{
    width: 500px;
    height: 358px;  
    background-color: white;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 200px;
    -webkit-box-shadow: 5px 7px 16px -6px rgba(0,0,0,0.75);
   -moz-box-shadow: 5px 7px 16px -6px rgba(0,0,0,0.75);
   box-shadow: 5px 7px 16px -6px rgba(0,0,0,0.75);
}
.table-head{
    background-color: black;
    text-align: center;
    color:white;
}